---
import experience from '../../public/json/experience.json';
---

<section class="py-12 scroll-m-20 w-full mx-auto px-3 container lg:max-w-4xl md:max-w-2xl">
	<h2 class="text-white text-3xl font-bold">
		<i class="fa-solid fa-briefcase"></i> Experiencia laboral
	</h2>
	<article>
		{
			experience.map((job, index) => (
				<div class="flex flex-col pt-6">
					<div class="flex justify-between">
						<a href={job.url} target="_blank" rel="noopener noreferrer" class="text-xl font-bold text-[#ff983f]">
							{job.company}
						</a>
						<p class="text-gray-400">{job.timeWork}</p>
					</div>
					<p class="text-white">{job.level}</p>
					<p class="text-gray-300">{job.desciption}</p>
				</div>
			))
		}
	</article>
</section>
